:root {
  display: flex;
  justify-content: flex-start;
  background-color: #D1C368;
}

.container {
  display: flex; /* Usa flexbox para posicionar os elementos */
  width: 100%; /* Define a largura total do container */
  height: 100vh; /* Define a altura total do container */
}

.menu-lateral,
.resultados {
  width: 250px; /* Define a largura do menu lateral */
  padding: 5px 20px; /* Define o espaçamento interno do menu lateral */
  text-align: center;
}

.titulo-h2 {
  font-family: 'HYLIA SERIF';
  color: #c1232d;
}

.resultados-custo-total {
  display: block;
  width: 100%;
  font-family: 'REGGAE ONE';
  font-size: 20px;
  background-color: #7B79C6;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
}

.mapa-container {
  flex-grow: 1; /* Permite que o mapa ocupe todo o espaço restante */
  padding: 20px; /* Define o espaçamento interno do mapa */
}

.mapa-hyrule-container {
  display: grid;
  grid-template-columns: repeat(42, 15px);
  grid-template-rows: repeat(42, 15px);
  border-collapse: collapse;
  border-spacing: 0;
}

.mapa-dungeon-container {
  display: grid;
  grid-template-columns: repeat(28, 15px);
  grid-template-rows: repeat(28, 15px);
  border-collapse: collapse;
  border-spacing: 0;
}

.mapa-linha {
  display: block;
}

.mapa-celula {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  line-height: 7px;
}

.mapa-celula:not(:last-child) {
  border-right: none;
}

.mapa-linha:not(:last-child) .mapa-celula {
  border-bottom: none;
}

.mapa-celula:last-of-type {
  border-right: none;
}

.mapa-linha:last-of-type .mapa-celula {
  border-bottom: none;
  border-right: 1px solid black;
}

.mapa-celula-custo-fixo {
  display: flex;
  font-size: 4px;
  justify-content: center;
  margin-top: 3.5px;
}

.mapa-coordenada-x,
.mapa-coordenada-y {
  display: block;
  font-size: 3.5px;
  margin-left: 4px;
}

.btn-menu-lateral {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-family: 'REGGAE ONE';
  font-size: 16px;
  background-color: #7B79C6;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-menu-lateral:hover {
  background-color: #6765A6;
}

.cell-hyrule-entrada-lost-woods {
  background-image: url('/public/img-entrada-lost-woods.png');
  background-size: cover;
}

.cell-hyrule-link {
  background-image: url('/public/img-link.png');
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.cell-hyrule-master-sword {
  background-image: url('/public/img-master-sword.png');
  background-size: cover;
}

.cell-hyrule-value-1 {
  background-color: #FFA500;
}

.cell-hyrule-value-0 {
  background-image: url('/public/img-entrada-dungeon.png');
  background-size: cover;
}

.cell-hyrule-value-3 {
  background-color: #FFFF00;
}

.cell-hyrule-value-10 {
  background-color: #92D050;
}

.cell-hyrule-value-20 {
  background-color: #C4BC96;
}

.cell-hyrule-value-100 {
  background-color: #00B050;
}

.cell-hyrule-value-150 {
  background-color: #948A54;
}

.cell-hyrule-value-180 {
  background-color: #548DD4;
}

.cell-dungeon-value-0 {
  background-image: url('/public/img-entrada-dungeon.png');
  background-size: cover;
}

.cell-dungeon-value-1 {
  background-color: blue;
}

.cell-dungeon-value-10 {
  background-color: #FFFFFF
}

.cell-dungeon-value-99 {
  background-color: #888887;;
}

.cell-dungeon-value-100 {
  background-color: black;
}

.cell-dungeon-value-pingente-1 {
  background-image: url('/public/img-pingente-azul.png');
  background-size: cover;
}

.cell-dungeon-value-pingente-2 {
  background-image: url('/public/img-pingente-verde.png');
  background-size: cover;

}
.cell-dungeon-value-pingente-3 {
  background-image: url('/public/img-pingente-vermelho.png');
  background-size: cover;
}

.mapa-celula-posicao-atual-caminho-ida {
  background-color: purple;
  border-radius: 50%;

}
.mapa-celula-posicao-atual {
  background-color: yellow;
  border-radius: 50%;
}

.mapa-celula-caminho-percorrido-ida {
  background-color: purple;
}

.mapa-celula-caminho-percorrido {
  background-color: blue;
}
